USE [master]
GO
/****** Object:  Database [QUANLICUAHANGBANDIENTHOAI]    Script Date: 12/8/2023 10:32:58 PM ******/
CREATE DATABASE [QUANLICUAHANGBANDIENTHOAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLICUAHANGBANDIENTHOAI', FILENAME = N'E:\Soft\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLICUAHANGBANDIENTHOAI.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLICUAHANGBANDIENTHOAI_log', FILENAME = N'E:\Soft\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLICUAHANGBANDIENTHOAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLICUAHANGBANDIENTHOAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLICUAHANGBANDIENTHOAI]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 12/8/2023 10:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[username] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NULL,
	[ID] [nvarchar](5) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](11) NULL,
	[NgayNhamChuc] [date] NULL,
	[SoThich] [nvarchar](200) NULL,
	[HinhAnh] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[DanToc] [nvarchar](50) NULL,
	[HinhMau] [nvarchar](200) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 12/8/2023 10:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[ID] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NULL,
	[NgayMuaHang] [date] NULL,
	[TongTien] [int] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_BILL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLINFO]    Script Date: 12/8/2023 10:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINFO](
	[ID] [nvarchar](10) NOT NULL,
	[IDBill] [nvarchar](10) NOT NULL,
	[IDSP] [nvarchar](10) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_BILLINFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDBill] ASC,
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/8/2023 10:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](12) NULL,
	[Email] [nvarchar](50) NULL,
	[TichDiem] [int] NULL,
	[GioiTinh] [nvarchar](4) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 12/8/2023 10:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[MaNV] [nvarchar](10) NOT NULL,
	[HoTenNV] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](11) NULL,
	[NgaySinh] [date] NULL,
	[Luong] [int] NULL,
	[PhuCap] [int] NULL,
	[GioiTinh] [nvarchar](4) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/8/2023 10:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [nvarchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[NguonGoc] [nvarchar](100) NULL,
	[ThuongHieu] [nvarchar](30) NULL,
	[TrongLuong] [float] NULL,
	[Gia] [float] NULL,
	[GiamGia] [float] NULL,
	[MauSac] [nvarchar](20) NULL,
	[SoLuong] [int] NULL,
	[ID_TSKT] [nvarchar](10) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_TSKT]    Script Date: 12/8/2023 10:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_TSKT](
	[ID] [nvarchar](10) NOT NULL,
	[DLPin] [int] NULL,
	[CPU] [nvarchar](100) NULL,
	[RAM] [int] NULL,
	[BoNhoTrong] [int] NULL,
	[PhienBan] [nvarchar](20) NULL,
	[TinhNangDacBiet] [nvarchar](200) NULL,
	[HeDieuHanh] [nvarchar](20) NULL,
	[KichThuocManHinh] [float] NULL,
	[DoPhanGiai] [nvarchar](20) NULL,
	[ChieuDai] [float] NULL,
	[ChieuRong] [float] NULL,
	[DoDay] [float] NULL,
 CONSTRAINT [PK_Product_TSKT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BILL] ([ID], [MaKH], [NgayMuaHang], [TongTien], [TinhTrang]) VALUES (N'B0001', N'C0001', CAST(N'2023-12-04' AS Date), 4790000, 1)
INSERT [dbo].[BILL] ([ID], [MaKH], [NgayMuaHang], [TongTien], [TinhTrang]) VALUES (N'B0002', N'C0001', CAST(N'2023-12-05' AS Date), 4790000, 1)
INSERT [dbo].[BILL] ([ID], [MaKH], [NgayMuaHang], [TongTien], [TinhTrang]) VALUES (N'B0003', N'C0001', CAST(N'2023-12-05' AS Date), 19155000, 1)
GO
INSERT [dbo].[BILLINFO] ([ID], [IDBill], [IDSP], [SL]) VALUES (N'BF0001', N'B0009', N'S0001', 1)
INSERT [dbo].[BILLINFO] ([ID], [IDBill], [IDSP], [SL]) VALUES (N'BF0001', N'B0010', N'S0002', 1)
INSERT [dbo].[BILLINFO] ([ID], [IDBill], [IDSP], [SL]) VALUES (N'BF0001', N'B0011', N'S0001', 1)
GO
INSERT [dbo].[CUSTOMER] ([MaKH], [TenKH], [DiaChi], [SDT], [Email], [TichDiem], [GioiTinh]) VALUES (N'C0001', N'Nguyễn Thị A', N'Quảng Ninh', N'0912354312', N'123@gmail.com', 4, N'Nữ')
INSERT [dbo].[CUSTOMER] ([MaKH], [TenKH], [DiaChi], [SDT], [Email], [TichDiem], [GioiTinh]) VALUES (N'C0002', N'Nguyễn Thị B', N'Quảng Đông', N'0353202399', N'123@gmail.com', 6, N'Nữ')
INSERT [dbo].[CUSTOMER] ([MaKH], [TenKH], [DiaChi], [SDT], [Email], [TichDiem], [GioiTinh]) VALUES (N'C0003', N'12321', N'3132', N'012345242342', N'312313', 4, N'Nam')
GO
INSERT [dbo].[EMPLOYEE] ([MaNV], [HoTenNV], [DiaChi], [SDT], [NgaySinh], [Luong], [PhuCap], [GioiTinh]) VALUES (N'N0001', N'Nguyễn Văn Tèo', N'227 Nguyễn Văn Cừ, Q. 5, TP. Thành phố Hồ Chí Minh', N'03458910123', CAST(N'2000-10-02' AS Date), 3000000, 0, N'Nam')
INSERT [dbo].[EMPLOYEE] ([MaNV], [HoTenNV], [DiaChi], [SDT], [NgaySinh], [Luong], [PhuCap], [GioiTinh]) VALUES (N'N0002', N'Lê Hoàng Anh', N'323 Lạc Long Quân, phường 5, quận 11,thành phố Hồ Chí Minh', N'0866218664', CAST(N'2000-10-01' AS Date), 2500000, 0, N'Nữ')
INSERT [dbo].[EMPLOYEE] ([MaNV], [HoTenNV], [DiaChi], [SDT], [NgaySinh], [Luong], [PhuCap], [GioiTinh]) VALUES (N'N0003', N'Nguyễn Giác Ngộ', N'217 Hồng Bàng, Phường 11, Quận 5, TP.HCM', N'0943471052', CAST(N'1999-10-09' AS Date), 4000000, 0, N'Nam')
GO
INSERT [dbo].[Product] ([ID], [TenSP], [HinhAnh], [NguonGoc], [ThuongHieu], [TrongLuong], [Gia], [GiamGia], [MauSac], [SoLuong], [ID_TSKT]) VALUES (N'S0001', N'Xiaomi Redmi Note 12 8GB 128GB', N'Image\1.jpg', N'Trung Quốc', N'Xiaomi', 183.5, 4790000, 1, N'Xám', 100, N'ST0001')
INSERT [dbo].[Product] ([ID], [TenSP], [HinhAnh], [NguonGoc], [ThuongHieu], [TrongLuong], [Gia], [GiamGia], [MauSac], [SoLuong], [ID_TSKT]) VALUES (N'S0002', N'Xiaomi Redmi Note 12 8GB 128GB', N'Image\2.jpg', N'Trung Quốc', N'Xiaomi', 183.5, 4790000, 1, N'Xanh Lá', 100, N'ST0001')
INSERT [dbo].[Product] ([ID], [TenSP], [HinhAnh], [NguonGoc], [ThuongHieu], [TrongLuong], [Gia], [GiamGia], [MauSac], [SoLuong], [ID_TSKT]) VALUES (N'S0003', N'Xiaomi Redmi Note 12 8GB 128GB', N'Image\3.jpg', N'Trung Quốc', N'Xiaomi', 183.5, 4790000, 1, N'Vàng', 100, N'ST0001')
GO
INSERT [dbo].[Product_TSKT] ([ID], [DLPin], [CPU], [RAM], [BoNhoTrong], [PhienBan], [TinhNangDacBiet], [HeDieuHanh], [KichThuocManHinh], [DoPhanGiai], [ChieuDai], [ChieuRong], [DoDay]) VALUES (N'ST0001', 5000, N'2X Cortex-A78 @ 2.0GHz ; 6X Cortex-A55 @ 1.8GHz', 8, 128, N'Android 12', N'Bảo mật vân tay,Nhận diện khuôn mặt', N'Android', 6.67, N'1080x2400', 165.66, 75.96, 7.85)
INSERT [dbo].[Product_TSKT] ([ID], [DLPin], [CPU], [RAM], [BoNhoTrong], [PhienBan], [TinhNangDacBiet], [HeDieuHanh], [KichThuocManHinh], [DoPhanGiai], [ChieuDai], [ChieuRong], [DoDay]) VALUES (N'ST0002', 5000, N'8 nhân Cortex A53 xung nhịp 2.0 Ghz', 6, 128, N'Android 12', N'Bảo mật vân tay,Nhận diện khuôn mặt', N'Android', 6.74, N'720x1600', 168, 78, 8.09)
INSERT [dbo].[Product_TSKT] ([ID], [DLPin], [CPU], [RAM], [BoNhoTrong], [PhienBan], [TinhNangDacBiet], [HeDieuHanh], [KichThuocManHinh], [DoPhanGiai], [ChieuDai], [ChieuRong], [DoDay]) VALUES (N'ST0003', 5000, N'1x3.36 GHz Cortex-X3 & 2x2.8 GHz Cortex-A715 & 2x2.8 GHz Cortex-A710 & 3x2.0 GHz Cortex-A510', 8, 256, N'Android 13', N'Hỗ trợ 5G,Sạc không dây,Bảo mật vân tay,Nhận diện khuôn mặt,Kháng nước,kháng bụi', N'Android', 6.8, N'1440x3088', 163.4, 78.1, 8.9)
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_CUSTOMER] FOREIGN KEY([MaKH])
REFERENCES [dbo].[CUSTOMER] ([MaKH])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_CUSTOMER]
GO
ALTER TABLE [dbo].[BILLINFO]  WITH CHECK ADD  CONSTRAINT [FK_BILLINFO_BILL] FOREIGN KEY([IDBill])
REFERENCES [dbo].[BILL] ([ID])
GO
ALTER TABLE [dbo].[BILLINFO] CHECK CONSTRAINT [FK_BILLINFO_BILL]
GO
ALTER TABLE [dbo].[BILLINFO]  WITH CHECK ADD  CONSTRAINT [FK_BILLINFO_Product] FOREIGN KEY([IDSP])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[BILLINFO] CHECK CONSTRAINT [FK_BILLINFO_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product_TSKT] FOREIGN KEY([ID_TSKT])
REFERENCES [dbo].[Product_TSKT] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Product_TSKT]
GO
USE [master]
GO
